/* Global settings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "MagicS";
    src: url(../fonts/Magic\ Sound.ttf);
}
@font-face {
    font-family: "AAce";
    src: url(../fonts/animeace2_reg.ttf);
}

/* Header styles */
header {
    line-height: 150px;
    font-size: 15px;
    font-family: MagicS;
    color: palevioletred;
    text-align: center;
}

/* Main Styles */
main {
    padding: 0% 20%;
}
main>p {
    font-size: 25px;
    font-family: Calibri;
    font-weight: 400;
    margin-bottom: 3%;
}

/* Profile styles */
.profiles{
    float: left;
    height: 150px;
    width: 450px;
    background-color: rgb(0, 25, 50);
    color: white;
    border-radius: 10px;
    margin: 0px 20px 20px 0px;
}
.profiles>img {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 10px 0px 0px 10px;
}

/* Profiles' text styles */
.pdescriptions>p {
    margin: 18px 0px 0px 170px;
}
.pname{
    font-size: 25px;
    font-weight: 700;
}
.prole{
    font-size: 20px;
}
.pmail{
    font-size: 18px;
    color: aqua;
}